.carousel .control-dots .dot {
    outline: 0;
    box-shadow: none;
    background: gray;
}

.carousel .slide .legend {
    bottom: 0;
    left: 0;
    margin-left: 0;
    border-radius: 0;
    width: 15%;
}