:root {
  --background: #fdf7fa;
}

html,
body {
  font-family: 'Nunito', sans-serif;
}

html {
  margin: 0;
  background-color: var(--background);
}

body {
  overflow-x: hidden;
}

.h-mobile-screen {
  min-height: calc(var(--vh, 1vh) * 100);
}

.h-mobile-screen-nav {
  min-height: calc((var(--vh, 1vh) * 100) - 46px);
}
