:root {
  --icon-shadow: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.1));
}

.skill-icon {
  -webkit-filter: var(--icon-shadow);
  filter: var(--icon-shadow);
}

.heading::after {
  content: '';
  width: 100%;
  height: 1px;
  display: block;
  margin-left: 1rem;
  background-color: #a0aec0;
}
