@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@variants hover {
  .full-colour {
    -webkit-filter: grayscale(0%)
    filter: grayscale(0%);
  }
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
